<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MainWindowTitle" value="网上股票交易系统5.0"/>
    <add key="htSHAccount" value="A573272915"/>
    <add key="htSZAccount" value="0110008379"/>
    <add key="SHAccount" value="A470674902"/>
    <add key="SZAccount" value="0094954779"/>

    <add key="Holding_Code" value="证券代码"/>
    <add key="Holding_Name" value="证券名称"/>
    <add key="Holding_Balance" value="股票余额"/>
    <add key="Holding_AvaiBalance" value="可用余额"/>
    <add key="Holding_Cost" value="成本价"/>
    <add key="Holding_Price" value="市价"/>
    <add key="Holding_ProfitAndLossRate" value="盈亏比(%)"/>
    <add key="Holding_ProfitAndLoss" value="盈亏"/>
    <add key="Holding_Value" value="市值"/>

    <add key="Commission_Date" value="委托日期"/>
    <add key="Commission_Code" value="证券代码"/>
    <add key="Commission_Name" value="证券名称"/>
    <add key="Commission_Direction" value="操作"/>
    <add key="Commission_OrderPrice" value="委托价格"/>
    <add key="Commission_OrderVol" value="委托数量"/>
    <add key="Commission_Time" value="委托时间"/>
    <add key="Commission_DealVol" value="成交数量"/>
    <add key="Commission_DealPrice" value="成交均价"/>
    <add key="Commission_Contract" value="合同编号"/>

    <add key="Order_Date" value="成交日期"/>
    <add key="Order_Contract" value="合同编号"/>
    <add key="Order_Code" value="证券代码"/>
    <add key="Order_Name" value="证券名称"/>
    <add key="Order_Direction" value="操作"/>
    <add key="Order_DealVol" value="成交数量"/>
    <add key="Order_DealPrice" value="成交均价"/>
    <add key="Order_DealValue" value="成交金额"/>
    <add key="Order_DealNO" value="成交编号"/>
  </appSettings>
</configuration>